@import "https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/light/main.css";

.App {
  text-align: center;
}

select,
input {
  width: 150px;
  text-overflow: clip;
}

.mapContainer {
  display: grid;
  grid-template-columns: 200px 800px;
  grid-template-rows: 400px 250px;
  grid-gap: 10px;
  margin: 20px;
}

#filterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(3, 131, 182);
  color: white;
  padding: 10px;
  width: auto;
  height: auto;
}

#filterDiv > select,
button,
h2 {
  width: auto;
  align-content: center;
  margin-top: 5px;
}

.map-view {
  height: auto;
  width: auto;
  grid-column: 2/3;
  position: static;
}

tr {
  border: 1px solid;
}

td,
th {
  text-align: left;
  width: 200px;
}

.tableContainer {
  height: auto;
  width: auto;
  grid-column: 1/3;
}
